/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .form-control-search {
        height: auto;
        background-color: #f2f4f6;
        border: 0;
    }

    .wrapper .content-wrapper {
        padding: 0 20px;
    }

    .video-table ul.menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .video-table ul.menu li {
        float: left;
    }

    .video-table ul.menu li a {
        display: block;
        padding: 0 8px;
    }

    .form {
        padding: 32px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
